<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="modules" type="Prism.Modularity.ModulesConfigurationSection, Prism.Wpf" />
  </configSections>
  <modules>
    <module assemblyFile="Services.dll" moduleName="ServicesModule" moduleType="Services.ServicesModule, Services, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" startupLoaded="true" />
    <module assemblyFile="LayeringControlLibrary.dll" moduleName="LayeringControlsModule" moduleType="LayeringControlLibrary.LayeringControlsModule, LayeringControlLibrary, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" startupLoaded="true" />
  </modules>
  <appSettings>
    <add key="demoDepthsFile" value="Content/TopHorizonDepths.txt"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>